.form-field select {
  width: 100%;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: lightgrey;
}

.form-field label {
  font-weight: lighter;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.form-field input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.form-field {
  margin-bottom: 1rem;
  max-width: 500px;
  width: 100%;
}

.form-field__select--disabled {
  color: lightgrey;
}
